*{
	margin:0;
	padding:0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	overflow-x: hidden;
}
#fist0{
	width:100%;
	height:60px;
	position: fixed;
	top:0;
	left:0;
	background-color: lightgreen;
	z-index: 999;
}
#top{
	margin:0 auto;
	width:1010px;
	height:100%;	
}
#nav_top{
display: inline-block;
float: left;
}
ul{
	float: left;
}
#top li{
float: left;
}
#top li a{
	color:#000;
    display: inline-block;
    height:60px;line-height: 60px;
    margin:0 25px;
}
#top li:hover{
background-color: orange;
}
#yuandain{
	position: fixed;
	top:40%;
	right:30px;
	z-index: 888;
}
#yuandain ul li a{
    width:10px;
    height:10px;
    display: inline-block;
    border-radius: 50%;
    background-color: gray;
    margin:3px 8px;
}
#fist1{
	width:100%;
	height:900px;
	background:url(../images/b1_bg.jpg);
	overflow: hidden;
}
#shouye,#yingxiao,#fuwu,#tese,#jishu,#denglu,#jiameng{
	width:1310px;
	height:900px;
	margin:0 auto;
	position: relative;
}
#fist1 #b1_01{
	position: absolute;
	bottom: 0;
	left:0;
}
#b1_02{
	position: absolute;
	left:170px;
		opacity: 1;
	top:184px;
}
#shouye:target #b1_02{
	animation:fistpic 2s linear 0s 1 alternate forwards;
}

@-webkit-keyframes fistpic{
	0%{
		left:0px;
		opacity: 0;
	}
	100%{
		left:170px;
		opacity: 1;
	}
}
#fist1 #fist1_center{
	width:400px;
	height:250px;
	position: absolute;
	top:300px;
	right:0;
}
#b1_03_btn{
	position: absolute;
	bottom:20px;
	left: 0;
	font-size: 100%;
}
#shouye:target  #b1_03_btn{
	animation: shandong 1s linear 0s 10000 alternate forwards;
}
@-webkit-keyframes shandong{
	from{opacity: 0
	}
    to{opacity: 1}
}
#b1_04{
	position: absolute;
	bottom:350px;
	right:0;
	z-index: 444;
}
#shouye:target #b1_04{
	animation: xiangshang 1s ease 0s 1 alternate forwards;
}
@-webkit-keyframes xiangshang{
	from{
		bottom:-110px;;
	}
    to{bottom:350px;}
}



#fist2{
	width:100%;
	height:900px;
	background:url(../images/b2_bg.jpg);
	z-index:880; 
}
#yingxiao{
	width:1310px;
	height:900px;
	position: relative;
	margin:0 auto;
	overflow: hidden;
}
#fist_t{
	color:#fff;
	position: absolute;
	left:45%;
	top:45%;

}
#fist_t h1{
	font-size: 36px
}
#fist_t p{
	margin-top: 20px;
	font-size: 16px;
}
#hand{
	position: absolute;
	bottom:-80px;
	left:-240px;
}
#yingxiao:target #hand{
	animation: handup 3s linear 0s 1 alternate forwards;
}
@-webkit-keyframes handup{
	from{
		bottom:-380px;
	}
	to{
		bottom:-80px;
	}
}
#qiqiu1{
	position: absolute;
	top:350px;
	left:280px;
}
#yingxiao:target #qiqiu1{

	animation:qiqiu1 3s linear 0s 1 alternate forwards;
}
@-webkit-keyframes qiqiu1{
	from{
		top:-50px;
	}to{
		top:350px;
	}
}
#qiqiu2{
	position: absolute;
	top:440px;
	left:880px;
}
#yingxiao:target #qiqiu2{
	animation:qiqiu2 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes qiqiu2{
	from{
		top:-50px;
	}to{
		top:440px;
	}
}
#qiqiu3{
	position: absolute;
	top:440px;
	right:0;
}
#yingxiao:target #qiqiu3{
	animation:qiqiu3 1s linear 0s 1 alternate forwards;
}
@-webkit-keyframes qiqiu3{
	from{
		top:-50px;
	}to{
		top:440px;
	}
}

#move{
	position: absolute;
	top:200px;
	left:100px;
	width:1100px;
	height:100px;
	border-bottom: 1px solid gray;text-align: center;
}
#move .hhh{
	margin:20px auto;
}#move span{
	color:#bcbcbf;
}
strong{
	color:#fea005;
}



#fist3{
	width:100%;
	height:900px;
	background:url(../images/b3_bg.jpg);
	z-index:888; 
}
#fongye{
	position: absolute;
	top:40%;
	left:36%;
}
#fuwu:target #fongye{
	position: absolute;
	top:40%;
	left:36%;
	animation:b3_01 4s linear 0s 1 alternate forwards;;
}
@-webkit-keyframes b3_01{
	0%{transform: rotateZ(720deg) translate(0) ;}
    50%{transform: rotateZ(0deg) translate(360px);}
    100%{transform: rotateZ(720deg) translate(0);}}
#fuwu h1{
	width:330px;
	font-size: 16px;
}
#fuwu p{
	width:330px;
	font-size: 14px
}
#fuwu #f_1 p,#fuwu #f_2 p,#fuwu #f_3 p, #f_1 h1,#f_2 h1,#f_3 h1{
text-align: right;
}
#f_1,#f_2,#f_3,#f_4,#f_5,#f_6{
    position: absolute;
    width:330px;
}
#f_1{
    top:360px;
    left:180px;
}
#fuwu:target #f_1{
    animation:f_1 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes f_1{
	from{
		left:0;
	}to{
		left:180px;
	}
}
#f_2{
    top:500px;
    left:120px;
}
#fuwu:target #f_2{
    animation:f_2 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes f_2{
	from{
		left:0;
	}to{
		left:120px;
	}
}
#f_3{
    bottom:180px;
    left:180px;
}
#fuwu:target #f_3{
animation:f_3 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes f_3{
	from{
		left:0;
	}to{
		left:180px;
	}
}
#f_4{
    top:360px;
    right:180px;
}
#fuwu:target #f_4{
animation:f_4 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes f_4{
	from{
		right:0;
	}to{
		right:180px;
	}
}
#f_5{
    top:500px;
    right:120px;
}
#fuwu:target #f_5{
animation:f_5 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes f_5{
	from{
		right:0;
	}to{
		right:120px;
	}
}
#f_6{
    bottom:200px;
    right:180px;
}
#fuwu:target #f_6{
animation:f_6 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes f_6{
	from{
		right:0;
	}to{
		right:180px;
	}
}



#fist4{
	width:100%;
	height:900px;
	background:url(../images/b4_bg.jpg);
	z-index:800; 
}
#b4_02{
	position: absolute;
	top:200px;
	right:200px;

}
#tese:target #b4_02{
animation:b4_02 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes b4_02{
	0%{
		opacity:0;
	}
        50%{
               opacity:0;
}   
     100%{
		opacity: 1;
	}
}
#b4_01{
	position: absolute;
	top:200px;
	right:450px;
}
#tese:target #b4_01{
animation:b4_01 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes b4_01{
	from{
		right:200px;
	}to{
		right:450px;
	}
}
#guanjia{
      position: absolute;
      width:200px;
      height:75px;
      font-size: 34px;
      color:#fff;
      bottom:630px;
      left:200px;
}
#tese:target #guanjia{
animation:guanjia 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes guanjia{
	from{
		bottom:0;
	}to{
		bottom:630px;
	}
}

#tese h5{
	font-size: 16px;
	color:#fff;
}
#tese p{
	color:#fff;
	font-size: 14px;
}
#fugai{
	width:400px;
	position: absolute;
	bottom:560px;
	left:200px;
}
#tese:target #fugai{
animation:fugai 2s linear 0.2s 1 alternate forwards;
}
@-webkit-keyframes fugai{
	from{
		bottom:0;
	}to{
		bottom:560px;
	}
}
 #zhuanye{
	width:400px;
	position: absolute;
	bottom:490px;
	left:200px;
}
#tese:target #zhuanye{
animation:zhuanye 2s linear 0.4s 1 alternate forwards;
}
@-webkit-keyframes zhuanye{
	from{
		bottom:0;
	}to{
		bottom:490px;
	}
}
#dingzhi{
	width:400px;
	position: absolute;
	bottom:430px;
	left:200px;
}
#tese:target #dingzhi{
animation:dingzhi 2s linear 0.4s 1 alternate forwards;
}
@-webkit-keyframes dingzhi{
	from{
		bottom:0;
	}to{
		bottom:430px;
	}
}
#anquan{
	width:400px;
	position: absolute;
	bottom:370px;
	left:200px;
}
#tese:target #anquan{
animation:anquan 2s linear 0.4s 1 alternate forwards;
}
@-webkit-keyframes anquan{
	from{
		bottom:0;
	}to{
		bottom:370px;
	}
}
#jishi{
	width:400px;
	position: absolute;
	bottom:325px;
	left:200px;
}
#tese:target #jishi{
animation:jishi 2s linear 0.4s 1 alternate forwards;
}
@-webkit-keyframes jishi{
	from{
		bottom:0;
	}to{
		bottom:325px;
	}
}
#jiekou{
	width:400px;
	position: absolute;
	bottom:280px;
	left:200px;
}
#tese:target #jiekou{
animation:jiekou 2s linear 0.4s 1 alternate forwards;
}
@-webkit-keyframes jiekou{
	from{
		bottom:0;
	}to{
		bottom:280px;
	}
}





#fist5{
	width:100%;
	height:900px;
	background:url(../images/b5_bg.jpg);
	z-index:790; 
}
.jsp1{
	color:gray;
	font-size: 30px;
	text-align: center;
	padding-top: 165px;
}
.jsp1 span{
	color:orange;
}
.jsp2{
	color:gray;
	font-size: 20px;
    text-align: center;
}
.five_ul{
	position: absolute;
	width:900px;
	height:600px;
	margin:auto;
	top: 260px;
	left: 100px;
	padding:0 100px;
	border-top: 1px solid red;
}

.five_ul li{
	width:185px;
	height:150px;
	margin:10px 15px;
	border:1px solid green;
	border-radius: 5px;
	float: left;
	text-align: center;
}

.five_ul li span{
	font-size: 18px;
}

.five_ul li p{
	font-size: 14px;
}
.gg1{
	width:185px;
	height:92px;
	background: url(../images/gnico_01.png) no-repeat center;
}

.gg2{
	width:185px;
	height:92px;
	background: url(../images/gnico_02.png) no-repeat center;
}
.gg3{
	width:185px;
	height:92px;
	background: url(../images/gnico_03.png) no-repeat center;
}
.gg4{
	width:185px;
	height:92px;
	background: url(../images/gnico_04.png) no-repeat center;
}
.gg5{
	width:185px;
	height:92px;
	background: url(../images/gnico_05.png) no-repeat center;
}
.gg6{
	width:185px;
	height:92px;
	background: url(../images/gnico_06.png) no-repeat center;
}
.gg7{
	width:185px;
	height:92px;
	background: url(../images/gnico_07.png) no-repeat center;
}
.gg8{
	width:185px;
	height:92px;
	background: url(../images/gnico_08.png) no-repeat center;
}
.gg9{
	width:185px;
	height:92px;
	background: url(../images/gnico_09.png) no-repeat center;
}
.gg10{
	width:185px;
	height:92px;
	background: url(../images/gnico_10.png) no-repeat center;
}
.gg11{
	width:185px;
	height:92px;
	background: url(../images/gnico_11.png) no-repeat center;
}
.gg12{
	width:185px;
	height:92px;
	background: url(../images/gnico_12.png) no-repeat center;
}
.five_ul li:hover .gg1{
	background: url(../images/gnico_01_1.png) no-repeat center;
}
.five_ul li:hover .gg2{
	background: url(../images/gnico_02_1.png) no-repeat center;
}
.five_ul li:hover .gg3{
	background: url(../images/gnico_03_1.png) no-repeat center;
}
.five_ul li:hover .gg4{
	background: url(../images/gnico_04_1.png) no-repeat center;
}
.five_ul li:hover .gg5{
	background: url(../images/gnico_05_1.png) no-repeat center;
}
.five_ul li:hover .gg6{
	background: url(../images/gnico_06_1.png) no-repeat center;
}
.five_ul li:hover .gg7{
	background: url(../images/gnico_07_1.png) no-repeat center;
}
.five_ul li:hover .gg8{
	background: url(../images/gnico_08_1.png) no-repeat center;
}
.five_ul li:hover .gg9{
	background: url(../images/gnico_09_1.png) no-repeat center;
}
.five_ul li:hover .gg10{
	background: url(../images/gnico_10_1.png) no-repeat center;
}
.five_ul li:hover .gg11{
	background: url(../images/gnico_11_1.png) no-repeat center;
}
.five_ul li:hover .gg12{
	background: url(../images/gnico_12_1.png) no-repeat center;
}

#jishu:target .five_ul li:nth-child(1),#jishu:target .five_ul li:nth-child(2),#jishu:target .five_ul li:nth-child(3),#jishu:target .five_ul li:nth-child(4){
	animation: yundong1 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes yundong1{
	0%{position: relative;top: 160px;}
  100%{position: relative;top: 0;}
}
#jishu:target .five_ul li:nth-child(5),#jishu:target .five_ul li:nth-child(6),#jishu:target .five_ul li:nth-child(7),#jishu:target .five_ul li:nth-child(8){
	animation: yundong2 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes yundong2{
	0%{opacity: 0}
	50%{opacity: 0}
  100%{opacity: 1}
}
#jishu:target .five_ul li:nth-child(9),#jishu:target .five_ul li:nth-child(10),#jishu:target .five_ul li:nth-child(11),#jishu:target .five_ul li:nth-child(12){
	animation: yundong3 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes yundong3{
	0%{position: relative;top: -160px;}
  100%{position: relative;top: 0;}
}


#fist6{
	width:100%;
	height:900px;
	background:url(../images/b6_bg.jpg);
	z-index:768; 
}
.six{
	position: absolute;
	left:50%;
	top:300px;
	margin-left: -266px;
	width:533px;
	height:423px;
	background: url(../images/b6_img.png);
}
.dian_0{
	position: absolute;
	left: 144px;
    top: 3px;
}
.dian_1{
	position: absolute;
	    left: 377px;
    top: 3px;
}
.dian_2{
	position: absolute;
left: 520px;
    top: 147px;
}
.dian_3 {
    position: absolute;
    left: 470px;
    top: 330px;
}
.dian_4 {
    position: absolute;
   left: 262px;
    top: 411px;
}
.dian_5 {
    position: absolute;
    left: 51px;
    top: 330px;
}
.dian_6 {
    position: absolute;
        left: 3px;
    top: 149px;
}
.slow{
	position: absolute;
	width:35px;
	height:35px;
	top:120px;
	left:255px;
	overflow: hidden;
}
.up_slow{
	position: absolute;
	width: 15px;
    height: 35px;
    opacity: 0;
    top:0;
    left:0;
	background: url(../images/b6_arrow.png) 0 0;
	animation:up_slow 2s linear 0s infinite forwards; 
}
@-webkit-keyframes up_slow{
	0% {
   
    top: 37px;
    opacity: 0;
}
50% {
 
    top: 37px;
    opacity: 1;
}
100% {
 
    top: -37px;
    opacity: 1;
}
}
.down_slow{
	position: absolute;
	width: 15px;
    height: 35px;
    top:0;
    right:0;
    opacity: 0;
	background: url(../images/b6_arrow.png) -14px 0;
	animation:down_slow 2s linear 0s infinite forwards; 
}
@-webkit-keyframes down_slow{
	0% {
    top: -37px;
    opacity: 0;
}
50% {
    top: -37px;
    opacity: 1;
}
100% {
    top: 37px;
    opacity: 1;
}
}
.pencel{
	position: absolute;
	bottom:0;
	left:900px;
}
#denglu:target .pencel{
	animation:pencel 2s linear 0s 1 forwards;
}
@-webkit-keyframes pencel{
	from{
		opacity: 0;
		left:200px;
	}to{
		opacity: 1;
		left:900px;
	}
}
.jishutedian{
	position: absolute;top:200px;left:230px;color:#fff;
}
.jishutedian h2{
	font-size: 28px;
	margin-bottom: 10px
}
.ttt{
	position: absolute;
	width:136px;
	font-size: 14px;
	color:#fff;
}
.time1{
left:400px;
top:280px;
}
.time2{
right:400px;
top:280px;
}
.time3{
left:250px;
top:430px;
}
.time4{
right:240px;
top:430px;
}

.time5{
left:330px;
top:630px;
}
.time6{
right:280px;
top:630px;
}
.time7{
right:44%;
top:730px;
}
#fist7{
	width:100%;
	height:900px;
	background:url(../images/b7_bg.jpg);
	z-index:666; 
}
.joinus{
	position: absolute;
	width:867px;
	height:400px;
	text-align: center;
	left:15%;
	top:300px;
}
.joinus p{
	text-align: center;
}
.bottor{
	width:100%;
	height:500px;
	border-top: 1px solid red;
}
.kefu{
	display: inline-block;
	width:100px;
	height:30px;
    float: left;
    margin-top: 20px;
	background: url(../images/b7_sprite.png) -120px -105px;
}
.qqwx{
	display: inline-block;
	width:113px;
	height:45px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
	background: url(../images/b7_sprite.png) 0 -100px;
}
.biaoti{
	display: inline-block;
	float: left;
	color:orange;
	margin-top: 20px;
	font-size: 30px
}
.bo_left{
	width: 250px;
	height:400px;
	/*border:1px solid red;*/
	/*float: left;*/
	display: inline-block;
	position: relative;
	left:-250px;
}
.bo_left form{
	width:250px;
	height:400px;
}
.bo_right{
	width: 250px;
	height:400px;
	/*border:1px solid red;*/
	float: right;
	margin-right:100px;
	display: inline-block;
}
.bo_right form{
	width:250px;
	height:400px;
}
form p{
	float: left;
	margin:20px 10px;
	font-size: 24px;
}
form p span{
	color:gray;
}
form input{
	width:221px;
	height:35px;
	margin-bottom: 20px;
}
form button{
	width:100px;
    height:30px;
    background: orange
  }
  /*.bo_right{display: inline-block;
	width: 250px;
	height:400px;
	border:1px solid red;
	position: relative;
	top:100px;
	right:0;
}*/